@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .close-dialog{
        display: none;
    }

    .edit-model{
        display: none;
    }

    input[type=text],
    input[type=tel],
    input[type=date],
    select{
        font-size: theme('fontSize[sm]');
    }

    .job-model{
        display: none;
    }
}
